<html>
	<head> 
	<script type="text/css">

		.ronly{
			border-width:0px;	
		}

	</script>
	</head>
	<title> A {{name}} interview </title>

	<body>

	<div>
		
	<p>
		An interview will contain a number of questions and answers (read - only), plus an 	editable area where the interviewer can add comments.
	</p>
		<div>
			<p>
			Q: What is the capital city of Nicaragua.
			<br/>
			A: Managua.
			</p>
	
			<p>
				Comments:<br/>
				<textarea rows="5" cols="20"></textarea>
			</p>
		</div>
	</div>
	...
	<div>
	<p><input type="button" value="Create report" onClick='report()'> <label>Create report for HR </label> </p>
	</div>
	</body>
	<script>
		function report(){
			alert('No reports yet.')
		}
	</script>
</html>
